@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-white overflow-hidden;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
  }
}
